<!DOCTYPE html>
<html>
<head>
<title>Update Appointment</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h1>Update Appointment</h1>

<form action="/update/{{appointment._id}}" method="POST">

<input type="text" name="name" value="{{appointment.name}}" required>

<input type="date" name="date" value="{{appointment.date}}" required>

<input type="time" name="time" value="{{appointment.time}}" required>

<input type="text" name="purpose" value="{{appointment.purpose}}" required>

<button type="submit">Update</button>

</form>

</div>

</body>
</html>
